*{
     margin: auto;
     padding: 0;
     margin: 0;
     
}

body{
     background-color: black;
}

.clearfix{
     clear:both;
     display: table;
     content: "";
}

.flex{
     display: flex;
     flex-wrap: wrap;
}
.container_header{
     position: relative;
     margin-bottom: 20px;
     height: 5vh;
}
.icone_header{
     position: absolute;
     right: 0;
     top: 50%;
}

header .icona {
     color: white;
     display: inline;
     background-color: #3b3b3b;
     
}

.uno{
     padding: 7px;
     margin: 2px; 
     border-radius: 5px;
}

.due {
     padding: 7px;
     margin: 2px;
     border-radius: 25%;
}

.container{
     padding: 0 200px;
     justify-content: space-around;
}

.relative{
     position: relative;
}

.nome{
     position: absolute;
     top:89%;
     left: 0%;
     color: white;
     background-color: #262823;
}

.freccia{
     position: absolute;
     top: 35%;
     color: #7f7f7f;
     font-size: 200px; 
}

.dx{
     right: 0%;
         
}

.sx{
     left: 0%;
}

.contenitore_footer{
     margin-top: 17px;
     background-color:#222326;
     height: 7vh;
     width: 100%;
     font-size: 20px;
     color: white;
     padding: 0px;
     justify-content: space-between;
     align-items: baseline ;
}

.rosso{
     background-color: #4a4b4d;
     color: #cc534c;
     padding: 25px 10px 20px 10px;
}
.verde>span{
     color: white;
}
.verde{
     color: #4bc800 ;
}

.icona i{
     text-align: center;
     padding:0 10px 0 10px;
}





